/*------------- header_and_menu_spacer --------------*/

.container {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-left: 50px;
}
@media (max-width: 991.98px) {
    .container {
        padding-left: 0;
        padding-top: 50px;
    }
}
/*------------- Side menu --------------*/
.side-menu {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 50px;
    list-style-type: none;
    background: #245868;
    overflow: hidden;
    transition: width 0.3s;
    font-family: 'Roboto';
    font-weight: 300;
    z-index: 22;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    &:hover {
        width: 220px; 

        .hr {
            width: 191px;
            height: 0;
            //            margin: 8px 12px 8px 17px;
            &.first {
                opacity: 0;
            }
        }

        li {
            span {
                //                left: 28px;
            }
        }
    }

    li {
        width: 300px;

        a {
            display: block;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #CFCFCF;
            text-decoration: none;
            height: 35px;
            padding-left: 50px;
            position: relative;
            display: flex;
            align-items: center;

            &::after {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                display: block;
                width: 2px;
                height: 100%;
                background-color: #fff;
                transition: 0s;
                display: none;
            }

            span {
                font-size: 18px;
                position: absolute;
                top: 50%;
                left: 25px;
                transform: translate(-50%, -50%);
                transition: 0.3s;
            }

            &:not(.logo_link).active {
                color: #fff;

                &::after {
                    display: block;
                }

                &:active,
                &:focus,
                &:hover {
                    color: #fff;
                    background-color: transparent;
                    cursor: initial;

                    &::after {
                        display: block;
                        background-color: #fff;
                    }
                }
            }

            &:not(.logo_link):active,
            &:not(.logo_link):focus,
            &:not(.logo_link):hover {
                background-color: #266072;

                &::after {
                    display: block;
                    background-color: #398299;
                }
            }

            img {
                vertical-align: middle;
            }
        }

        .logo_link {
            height: 49px;
        }

        &:last-of-type {
            margin-bottom: 30px;
        }
    }

    .hr {
        border-top: 1px solid #868686;
        display: block;
        width: 30px;
        height: 0;
        margin: 8px 10px;
        transition: 0.3s;

        &.first {
            margin-top: 0;
        }

        &.third {
            margin-top: auto;
            margin-bottom: 5px;
            padding-top: 5px;
            border-top: 0;
            border-bottom: 1px solid #868686;
        }
    }
}
/*------------- /Side menu --------------*/
/*------------- .HEADER --------------*/
.header {
    height: 50px;
    background-color: #60C09E;
    padding-left: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 21;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    /*------------- More Dropdown --------------*/
    .more-dropdown {
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 180px;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0s, opacity 0.3s linear;
        text-align: left;
        padding: 15px 25px;
        background: #FFFFFF;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        box-sizing: border-box;
        z-index: 5;

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 140%;
            height: 200%;
            z-index: -1;
        }

        .more_title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #4F4F4F;
            display: block;
            margin-bottom: 7px;
        }

        .more_tags {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #2D9CDB;
        }

        .btn {
            background: #FFFFFF;
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 3px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            color: #828282;
            padding: 5px 20px;
            text-decoration: none;

            &.success {
                color: #ffffff;
                border: 1px solid #25B433;
                background-color: #25B433;
            }
        }

        .hr {
            border-top: 1px solid #D6D6D6;
            display: block;
            width: 100%;
            height: 0;
            margin: 10px 0;
        }

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;

                &.without_link {
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #828282;
                    display: -webkit-flex;
                    display: -moz-flex;
                    display: -ms-flex;
                    display: -o-flex;
                    display: flex;
                    align-items: center;

                    [class^="icon-"] {
                        display: inline-block;
                        margin-right: 10px;
                        font-size: 18px;
                    }
                }
            }

            a {
                margin: 5px 0;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                color: #4F4F4F;
                display: flex;
                align-items: center;
                text-decoration: none;
                // &:hover {
                //     color: #ff5e3a;
                // }
                [class^="icon-"] {
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 18px;
                }

                & > * {
                    display: inline-block;
                    vertical-align: middle;
                }

                &.btn {
                    padding: 0.5rem 1.7rem;
                    font-size: 0.688rem;
                    line-height: 1.5;
                    border-radius: 0.2rem;
                }
            }
        }
    }

    .more {
        cursor: pointer;
        position: relative;

        & > svg {
            cursor: pointer;
        }

        &:hover .more-dropdown {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }
    }

    .more-with-triangle {
        &:before {
            position: absolute;
            display: inline-block;
            content: '';
            top: -7px;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            border-bottom: 7px solid #fff;
            right: 25px;
        }

        &.triangle-bottom-right:before {
            top: auto;
            bottom: -7px;
            right: 15px;
            border-bottom: none;
            border-top: 7px solid #fff;
        }

        &.triangle-top-center:before {
            margin-right: -3px;
            right: 50%;
        }

        &.triangle-top-left:before {
            right: auto;
            left: 15px;
        }
    }

    .header_account .more-dropdown {
        width: 266px;
        top: calc(100% + 5px);
        right: 0;
    }

    .more.bell,
    .more.lives,
    .more.msgs,
    .more.thank {
        .more_list {
            margin: 23px 0 27px;

            &.has_message {
                border-top: 1px solid #D2D2D2;
                border-bottom: 1px solid #D2D2D2;
                margin-top: 20px;
                margin-bottom: 24px;

                .item {
                    display: flex;
                    align-items: flex-start;
                    padding: 8px 0;

                    &:not(:last-of-type) {
                        border-bottom: 1px solid #D2D2D2;
                    }

                    .avatar {
                        display: block;
                        width: 50px;
                        min-width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #C4C4C4;
                        background-image: url("/assets/img/avatar_bg.svg");
                        background-size: cover;
                        background-position: center;
                        margin-right: 8px;
                        position: relative;
                    }

                    .info {
                        width: 100%;
                        margin-top: 8px;
                        max-height: 100px;
                        overflow: hidden;
                        word-break: break-word;
                        transition: 0.3s;
                    }

                    .username {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        color: #858585;
                        margin-bottom: 2px;
                        margin-top: 0;
                        display: block;

                        span {
                            display: inline-block;
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 15px;
                            color: #A6A4A4;
                            margin-left: 10px;
                        }
                    }

                    .description {
                        font-family: Montserrat;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #569BED;
                        margin: 0;
                    }

                    .notification-delete {
                        min-width: 22px;
                        text-align: center;
                        color: #9F9E9E;
                        font-size: 18px;
                        margin-left: 20px;
                    }

                    &:hover {
                        .info {
                            max-height: 1000px;
                        }
                    }
                }
            }
        }

        .more-dropdown {
            width: 363px;
            top: calc(100% + 5px);
            right: -30px;
            padding: 20px;
        }
    }

    .more.msgs .more_list.has_message .item {
        .username {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #717171;
            display: block;
        }

        .description {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            color: #A7A7A7;
        }

        .avatar.online {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                display: block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #44E236;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                z-index: 1;
            }
        }
    }

    .more.lives,
    .more.thank {
        .more_list {
            margin: 0;

            li {
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 153.59%;
                color: #828282;
            }
        }

        .btn {
            margin-top: 20px;
            display: inline-block;
            padding: 6px 26px;
        }
    }

    .more.rating {
        .more-dropdown {
            width: 224px;
            top: calc(100% + 5px);
            right: initial;
            left: 15px;
            padding: 11px 12px;
            background-color: #000000;
            border-radius: 0 3px 3px 3px;

            &.more-with-triangle.triangle-top-left {
                border-top-left-radius: 0;

                &::before {
                    right: auto;
                    left: 0;
                    border-style: solid;
                    border-width: 5px 0 5px 5px;
                    border-color: transparent transparent transparent #000000;
                    top: -5px;
                }
            }
        }

        &:hover .more-dropdown {
            opacity: 0.8;
        }

        .more_list {
            li {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                color: #D1D1D1;
                margin: 0;
            }
        }
    }
    /*------------- /More Dropdown --------------*/
    .label-avatar {
        position: absolute;
        top: -1px;
        right: -4px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        text-align: center;
        color: #fff;
        font-family: Roboto;
        font-size: 10px;
        font-weight: 700;
        border-radius: 100%;
        overflow: hidden;
    }

    .bg-green {
        background-color: #3D9B4A;
    }

    .bg-red {
        background-color: #D85243;
    }

    &_left {
        list-style: none;
        padding: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        color: #fff;
        margin: 0;

        li {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 100;
            font-size: 24px;
            line-height: 28px;
            color: #FFFFFF;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            margin-left: 37px;
            height: 50px;
        }

        [class^="icon-"] {
            display: inline-block;
            margin-right: 7px;
            font-size: 22px;
        }

        .icon-arrow_up {
            font-size: 17px;
            margin: 0 0 2px;
        }

        .icon-palec {
            font-size: 20px;
            margin-bottom: 3px;
        }

        .spasibo_wrap {
            margin-left: 30px;
        }
    }

    &_right {
        margin-right: 10px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        color: #fff;

        .header_control_block {
            list-style: none;
            padding: 0;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            align-items: center;
            margin: 0;

            & > li {
                font-size: 19px;
                line-height: 28px;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                padding-left: 23px;
                position: relative;
                height: 50px;
            }
        }

        .label-avatar {
            top: 8px;
            right: -8px;
        }
    }

    &_account {
        min-width: 130px;
        margin-left: 55px;
        position: relative;
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;

        .author_name {
            margin-right: 6px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            line-height: 14.6px;
            letter-spacing: 0.3px;
        }

        .author_thumb {
            width: 30px;
            height: 30px;
            min-width: 30px;
            min-height: 30px;
            position: relative;
            background-color: #60C09E;
            border: solid 1px #fff;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
        }
    }
}
/*------------- /.HEADER --------------*/
/*------------- .MOB HEADER --------------*/
.header_mob_elements {
    display: none;
}

.mob_menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
}
@media (max-width: 991.98px) {
    .header {
        padding-left: 0;

        &_account {
            margin-left: 5px;
        }

        .more-dropdown {
            position: fixed;
        }

        .header_account .more-dropdown,
        .more.bell .more-dropdown,
        .more.lives .more-dropdown,
        .more.msgs .more-dropdown,
        .more.thank .more-dropdown {
            width: 300px;
            top: 60px;
            right: 10px;
            padding: 20px;
        }
    }

    .header_mob_elements {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }

    .header_left,
    .side-menu {
        display: none;
    }

    .burger_wrap {
        position: relative;
        width: 50px;
        height: 50px;

        .burger {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 24px;
            color: #fff;
        }
    }

    .logo_wrap {
        background-color: #288157;
        width: 50px;
        height: 50px;
        position: relative;

        img {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .mob_menu {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        background: #245868;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 0s, opacity 0.3s linear;
        overflow: auto;
        z-index: 99;

        &.show {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
        }

        .burger {
            font-size: 18px;
            color: #A4A2A2;
        }

        .content_wrap {
            width: 100%;
            padding: 0 14px 13px;
            max-width: 400px;
            box-sizing: border-box;
        }

        &_top {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            justify-content: space-between;
            color: #fff;
            margin: 0;

            li {
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                line-height: 28px;
                color: #FFFFFF;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 50px;
            }

            [class^="icon-"] {
                display: inline-block;
                margin-right: 7px;
                font-size: 20px;
            }

            .icon-arrow_up {
                font-size: 17px;
                margin: 0 0 2px;
            }
        }

        .btn {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #FFFFFF;
            background: #FB6A18;
            border-radius: 3px;
            display: block;
            padding: 10px;
            text-decoration: none;
            margin-bottom: 24px;
        }

        &_list {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin: 4px auto;

                a {
                    display: block;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;
                    color: #CFCFCF;
                    text-decoration: none;
                    height: 35px;
                    padding-left: 50px;
                    position: relative;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    margin-left: -14px;

                    &::after {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        display: block;
                        width: 2px;
                        height: 100%;
                        background-color: #fff;
                        -webkit-transition: 0s;
                        transition: 0s;
                        display: none;
                    }

                    &:not(.logo_link).active {
                        color: #fff;

                        &::after {
                            display: block;
                        }
                    }

                    span {
                        font-size: 18px;
                        position: absolute;
                        top: 50%;
                        left: 25px;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                        -webkit-transition: 0.3s;
                        transition: 0.3s;
                    }
                }
            }

            .hr {
                border-top: 1px solid #868686;
                display: block;
                width: 100%;
                height: 0;
                margin: 8px 0;

                &.first {
                    margin-top: 0;
                }
            }
        }
    }
}
@media (max-width: 420px) {
    .header_right .header_control_block > .more.lives,
    .header_right .header_control_block > .more.thank {
        display: none;
    }
}
