@import "reset";
@import "fonts";
@import "icons";
@import "mentor";

body {
    background-color: #58b58b33;
    font-family: 'Montserrat';
}

.container {
    max-width: 290px;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1146px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
