.sec_form_master_class {
    padding: 5.75rem 0 4.0625rem;

    .dubl_line_vertical {
        left: -5.875rem;
        top: 17.25rem;
        transform: rotate(-90deg);
    }

    h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 2.125rem;
        line-height: 140%;
        text-transform: uppercase;
        color: #F2F2F2;
        margin-bottom: 2.5625rem;
    }

    .form-control {
        background: #FFFFFF;
        border: 0.0625rem solid #375476;
        box-sizing: border-box;
        border-radius: 0.3125rem;
    }

    .btn {
        margin-top: 1.25rem;
    }

    &.with_dop_txt {
        .upper-title {
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 140%;
            color: #FCFCFC;
            margin-bottom: 0.9375rem;
        }

        .circle {
            width: 3.125rem;
            left: -6.5rem;
            top: 12.125rem;
        }

        .dubl_line_vertical {
            left: 20.625rem;
            top: 36.375rem;
            transform: rotate(-90deg);
        }

        h2 {
            margin-bottom: 1.1875rem;
            font-weight: 600;
            font-size: 2rem;
            line-height: 140%;
        }

        .under-title {
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 140%;
            color: #FCFCFC;
            margin-bottom: 2.5rem;
        }

        @media (max-width: 767.98px) {
            h2 {
                font-size: 1.375rem;
            }
        }
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        h2 {
            font-size: 1.4375rem;
        }

        .text-center {
            position: relative;
            height: 18.75rem;

            img {
                position: absolute;
                display: inline-block;
                transform: rotate(-90deg) translateY(2.5rem) translateX(80%);
                width: 12.5rem;
            }
        }
    }
}