body {
    background-color: #FBFBFB;
    font-family: 'Montserrat';
    padding-top: 3.0625rem;
    color: #4f4f4f;
}

@media (min-width: 1200px) {
    .container {
        max-width: 71.625rem;
    }
}

@media (min-width: 1921px) {
    body, 
    html {
        font-size: 18px;
    }
}

.sec {
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
    }

    @media (max-width: 767.98px) {
        overflow: hidden;
    }
}

// background-colors
.bg-orange {
    background: #fbf3e9 !important;
}

.bg-green {
    background: #ebf5f0 !important;
}

.bg-blue {
    background: #557FAF !important;
}

// text-colors

.text-orange {
    color: #F0A744 !important;
}

.text-yellow {
    color: #E5C17C !important;
}

// abcolute icons

.abs_pic {
    position: absolute;
}

.line-light {
    opacity: 0.3;
}

.dubl_line.vertical,
.dubl_line_vertical {
    transform: rotate(90deg);
}

.dubl_stone_2 {
    transform: rotateX(-180deg) rotateY(-180deg);
}

.dubl_stone_3 {
    transform: rotateX(-180deg);
}

// END absolute icons

.btn {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 130%;
    border-radius: 0.3125rem;
}

.btn-primary {
    color: #FCFCFC;
    background-color: #557FAF;
    border-color: #557FAF;

    &:hover {
        background-color: #45658a;
        border-color: #45658a;
    }
}

.btn-success {
    color: #FCFCFC;
    background: #58B58B;
    border-color: #58B58B;
    font-weight: bold;
    font-size: 1rem;
    line-height: 130%;
    height: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.75rem;

    &.btn-lg {
        font-size: 1.125rem;
        height: 3.75rem;
    }

    &:hover {
        background: #428c6b;
        border-color: #428c6b;
    }
}

.btn-success-1 {
    background: #79c4a2;
    border-color: #79c4a2;

    &:hover {
        background: #64a889;
        border-color: #64a889;
        color: #fff;
    }
}

.btn-success-2 {
    background: #56a17f;
    border-color: #56a17f;

    &:hover {
        background: #548b72;
        border-color: #548b72;
        color: #fff;
    }
}

.btn-orange {
    background-color: #f0a744;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 130%;
}

.h1,
h1 {
    font-size: 2.375rem;
}

h2 {
    font-weight: 500;
    font-size: 1.875rem;
}

.sec_title {
    text-align: center;

    h2 {
        margin: 2.0625rem 0 1.25rem;
    }

    p {
        font-weight: 600;
        font-size: 1rem;
        line-height: 170%;
        color: #828282;
        margin: 0;
    }

    @media (max-width: 767.98px) {
        img {
            height: 0.375rem;
        }

        h2 {
            margin: 0.3125rem 0 0.625rem;
        }

        p {
            font-size: 0.875rem;
        }
    }
}

.embed-responsive {
    background-color: rgba(229, 229, 229, .5);
}

.slide_bg {
    display: block;
    width: 100%;
    padding-top: 60.78%;
    background-image: url("../img/slide_bg.svg");
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
    background-size: cover;
    border-radius: 0.25rem;
    overflow: hidden;
    position: relative;

    &>img,
    .lSSlideOuter {
        display: inline-block;
        position: absolute;
        width: 99.8%;
        height: auto;
        top: 5.9%;
        left: 50%;
        transform: translateX(-50%);
    }
}

//slider styles

.lSAction>a {
    width: 1.75rem;
    height: 1.75rem;
    background-size: cover;
    background-position: center !important;

    &:hover svg path {
        fill: #dbdbdb;
    }

    &.lSNext {
        transform: rotate(180deg);
        right: 0.625rem;
    }

    &.lSPrev {
        left: 0.625rem;
    }
}

.card_profile {
    background: #FFFFFF;
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    text-align: center;
    padding: 3.1875rem 0 3.4375rem;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon {
        display: block;
        background-color: rgba(229, 229, 229, .5);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: cover;
        border: 0.25rem solid #58B58B;
        border-radius: 50%;
        box-sizing: border-box;
        width: 9.375rem;
        min-width: 9.375rem;
        height: 9.375rem;
        margin-bottom: 1.75rem;
    }

    h3 {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 130%;
        color: #4F4F4F;
        margin-bottom: 0.9375rem;
    }

    p {
        color: #828282;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 150%;
        margin: 0;
    }

    i {
        font-style: italic;
        font-weight: 500;
        font-size: 0.9375rem;
        line-height: 170%;
        text-align: center;
        color: #828282;
        margin-top: 2.375rem;
    }

    @media (max-width: 47.9988rem) {
        position: relative;
        text-align: left;
        align-items: flex-start;
        border-radius: 0.5rem;
        padding: 0.9375rem;

        .icon {
            position: absolute;
            width: 5.625rem;
            min-width: 5.625rem;
            height: 5.625rem;
            border-width: 0.1875rem;
        }

        h3 {
            height: 5.625rem;
            display: flex;
            align-items: center;
            margin-left: 7.5rem;
            max-width: 10.625rem;
        }
    }
}

.card_product {
    background: #FFFFFF;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    .card_body {
        padding: 1.25rem 1.0625rem 0.9375rem;
    }

    img {
        width: 100%;
        border-radius: 0.5rem;
    }

    h4 {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.375rem;
        color: #000000;
        margin-bottom: 0.8125rem;
    }

    .date {
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 153.59%;
        color: #828282;
    }

    .hr {
        display: block;
        height: 0.0625rem;
        border-top: 0.0625rem solid #D6D6D6;
        margin-top: 1rem;
        margin-bottom: 1.1875rem;
    }

    .tags {
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 130%;
        color: #A2A2A2;
        display: block;
        margin-bottom: 1.25rem;
    }

    .btn.btn-blue {
        width: 10.4375rem;
    }
}

@media (max-width: 767.98px) {
    body {
        padding-top: 2.5rem;
    }

    .h1,
    .h2,
    h1,
    h2 {
        font-size: 1.1875rem;
    }

    br {
        display: none;
    }
}

.card {
    background: #FFFFFF;
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
    border-radius: 0.625rem;
    border: none;
}

// ==============================================================
// table styles
// ==============================================================
.table-responsive {
    padding: 0;
}

.table {
    margin-bottom: 0;

    thead th {
        vertical-align: bottom;
        border-bottom: 0.0625rem solid #D6D6D6;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 153.59%;
        color: #A7A7A7;
        border-top: none;
        padding-bottom: 0.8125rem;
        padding-top: 0.9375rem;
    }

    th {
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #828282;
    }

    td,
    th {
        vertical-align: middle;
        padding: 0.9375rem;
    }

    .media {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
        color: #7283BE;
        max-width: 13.75rem;

        img {
            min-width: 3.125rem;
            width: 3.125rem;
            height: 3.125rem;
            margin-right: 0.625rem;
        }
    }

    .expertise {
        width: 14.375rem;
        font-weight: 500;
        font-size: 0.8125rem;
        line-height: 130%;
        color: #A2A2A2;
    }
}

.table-bordered td,
.table-bordered th {
    border: 0.0625rem solid #D6D6D6;
}

.table .table-success th,
.table-success,
.table-success>td,
.table-success>th {
    background-color: #58B58B;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 130%;
    text-align: center;
    color: #FCFCFC;
    vertical-align: middle;
}

@media (max-width: 767.98px) {
    .table_wrapp {
        border-radius: 0.5rem;
        padding-bottom: 0.3125rem;
        box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
        padding: 0.3125rem;
        background: #FFFFFF;
        z-index: 46;
        display: block;

        .table-responsive {
            box-shadow: inset -0.9375rem 0 1.5625rem -0.625rem rgba(0, 0, 0, 0.15);
            border-radius: 0.5rem;
        }

        .table tr td:last-of-type,
        .table tr th:last-of-type {
            padding-right: 1.25rem;
        }
    }
}

// ==============================================================
// .btn
// ==============================================================
.btn.btn-blue {
    background: #557FAF;
    box-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.07);
    border-radius: 0.1875rem;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    text-align: center;
    color: #FFFFFF;
    width: 8.5625rem;
    padding: 0.4375rem 0.9375rem;

    &:hover {
        background: #355982;
    }
}

.tag_list {
    margin: 0 0 -0.6875rem;

    span {
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 130%;
        text-align: center;
        color: #FFFFFF;
        padding: 0.4375rem 0.8125rem;
        background: #60C09E;
        border-radius: 0.1875rem;
        margin: 0 0.3125rem 0.6875rem;
        display: inline-block;
        min-width: 4.625rem;
    }
}

.soc_links_wrapp {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    max-width: 17.0625rem;
    width: 100%;

    .item {
        display: block;
        background: #ECECEC;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.5625rem;
        position: relative;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


.btn-video-modal {
    display: flex;
    align-items: center;
    padding: 0.9375rem 1.4375rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 130%;
    color: #828282;
    border-radius: 0.3125rem;
    border: solid 0.125rem transparent;
    width: 15.625rem;
    cursor: pointer;

    img {
        display: inline-block;
        margin-right: 0.875rem;
    }

    &:hover {
        border-color: #58B58B;
    }
}

.custom-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        font-weight: 500;
        font-size: 1rem;
        line-height: 130%;
        display: flex;
        align-items: flex-start;
        color: #828282;

        &:not(:last-of-type) {
            margin-bottom: 0.6875rem;
        }

        img {
            width: 1.125rem;
            height: auto;
            display: inline-block;
            margin-top: 0.1875rem;
            margin-right: 1.0625rem;
        }

        b {
            font-size: 1.25rem;
        }
    }
}

.b-form {
    .form-group {
        margin-bottom: 0.6875rem;
    }

    label {
        font-style: normal;
        font-weight: 600;
        font-size: 0.8125rem;
        line-height: 120%;
        color: #828282;
        margin-bottom: 0.375rem;
    }

    .form-control {
        height: 3.125rem;
        font-weight: 500;
        color: #4f4f4f;
        background: rgba(255, 255, 255, 0.2);
        border: 0.0625rem solid #D6D6D6;
        box-sizing: border-box;
        border-radius: 0.3125rem;

        &::-webkit-input-placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 153.59%;
            color: #828282;
        }

        &::-moz-placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 153.59%;
            color: #828282;
        }

        &:-ms-input-placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 153.59%;
            color: #828282;
        }

        &:-moz-placeholder {
            font-style: normal;
            font-weight: 500;
            font-size: 0.9375rem;
            line-height: 153.59%;
            color: #828282;
        }
    }

    .btn {
        margin-top: 0.625rem;
        display: inline-block;
    }

    @media (max-width: 767.98px) {
        .btn {
            padding: 0.9375rem;
            margin-top: 0.9375rem;
        }
    }
}

// ==============================================================
// card_tarif
// ==============================================================
.card_tarif {
    background: #FFFFFF;
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
    text-align: center;
    padding: 1.25rem;

    .upper_title {
        font-weight: 600;
        font-size: 1rem;
        line-height: 170%;
        color: #828282;
    }

    .title {
        font-weight: 600;
        font-size: 1.8125rem;
        margin-top: 0.125rem;
    }

    .list_title {
        text-align: left;
        font-size: 1.1875rem;
        color: #828282;
        margin-bottom: 0.9375rem;
    }

    .icon {
        position: relative;
        height: 8.25rem;
        display: block;
        margin: 1.125rem 0 3rem;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    ul {
        padding: 0;
        list-style: none;
        text-align: left;
        min-height: 16.375rem;
    }

    li {
        padding-left: 2.0625rem;
        position: relative;
        margin-bottom: 0.875rem;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 120%;
        color: #828282;

        b {
            font-weight: 600;
        }

        &::before {
            content: '';
            display: block;
            width: 1.125rem;
            height: 1.125rem;
            background-image: url("../img/sec_10/li_label.svg");
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .new_price_wrapp {
        background: #557FAF;
        padding: 1.0625rem 0.3125rem 1.25rem;
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }

    .new_price_title {
        margin-bottom: 1.0625rem;
    }

    .new_price,
    .new_price_title {
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 130%;
        color: #FCFCFC;
        display: block;

        span {
            font-weight: 500;
            font-size: 2rem;
            color: #fff;
        }
    }

    .old_price_wrapp {
        padding: 1.5625rem 0 1.8125rem;
    }

    .old_price_title {
        display: block;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 130%;
        color: #828282;
        margin-bottom: 1.0625rem;
    }

    .old_price {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 130%;
        color: #58B58B;

        span {
            font-weight: normal;
            font-size: 2rem;
        }
    }

    .btn-success {
        width: 100%;
        font-weight: 600;
        font-size: 1rem;
        padding: 0.875rem;
    }
}

// ==============================================================
// date_wrap
// ==============================================================
.date_wrap {
    display: flex;

    .item {
        &:first-child {
            margin-right: 0.75rem;
        }

        &>span {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 0.75rem;
            line-height: 0.9375rem;
            color: #a2a2a2;
        }

        .date {
            margin-top: 0.1875rem;
            background: #fafafa;
            border: 0.0625rem solid #d6d6d6;
            box-sizing: border-box;
            border-radius: 0.3125rem;
            padding: 0.1875rem 0.5625rem;
            font-size: 0.8125rem;
            text-align: center;

            div {
                margin-top: 0.1875rem;
                font-weight: 300;
                font-size: 1.5625rem;
                line-height: 1.875rem;
            }

            span {
                font-weight: 500;
                font-size: 0.8125rem;
                line-height: 1rem;
            }
        }
    }
}

// ==============================================================
// border-image
// ==============================================================
.border-image {
    display: block;
    background-color: rgba(229, 229, 229, 0.5);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.25rem solid #58B58B;
    border-radius: 50%;
    box-sizing: border-box;
    width: 9.375rem;
    min-width: 9.375rem;
    height: 9.375rem;
    margin-bottom: 1.75rem;
}

// ==============================================================
// LightSlider
// ==============================================================
.lSSlideOuter {
    display: flex;
    flex-direction: column;

    .lSPager.lSpg>li a {
        background: #FFFFFF;
        border: 0.125rem solid #A2A2A2;
        width: 1.25rem;
        height: 1.25rem;
        box-sizing: content-box;
        position: relative;
    }

    .lSPager.lSpg>li.active a,
    .lSPager.lSpg>li:hover a {
        background-color: #FFFFFF;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 0.875rem;
            height: 0.875rem;
            background: #099E18;
            border: 0.0625rem solid #828282;
            box-sizing: border-box;
            border-radius: 50%;
        }
    }

    .lSPager.lSpg>li:hover a {
        &::after {
            opacity: 0.3;
        }
    }
}

.sleder_wrapp {
    position: relative;
}

.arrow-next,
.arrow-prev {
    position: absolute;
    top: 50%;
    display: block;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 1.5625rem;
        height: 2.9375rem;
    }
}

.arrow-prev {
    left: -2.5rem;
    transform: translateY(-50%);
    display: block;
}

.arrow-next {
    right: -2.5rem;
    transform: translateY(-50%) rotateY(180deg);
}

// ==============================================================
// nav-pills
// ==============================================================
.nav-pills {
    margin-bottom: 2.5rem;

    .nav-link {
        padding-left: 0;
        padding-right: 0;
        font-weight: 500;
        font-size: 1.375rem;
        line-height: 1.6875rem;
        padding-bottom: 0.3125rem;
        border-bottom: solid 0.1875rem transparent;
        border-radius: 0;
        margin-right: 4.5rem;
        color: #828282;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: #4f4f4f;
            border-color: rgba(240, 167, 68, 0.2);
            text-decoration: none;
        }
    }

    .nav-link.active,
    .show>.nav-link {
        background-color: transparent;
        color: #4f4f4f;
        border-color: #F0A744;
    }

    @media (max-width: 47.9988rem) {
        display: flex;
        flex-direction: column;

        .nav-link {
            margin-right: 0;
        }
    }
}

// ==============================================================
// accordion
// ==============================================================
.accordion {
    max-width: 55.375rem;
    width: 100%;

    &>.card {
        background: #FFFFFF;
        box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.15);
        border-radius: 0.3125rem;
        margin-bottom: 1.25rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:first-of-type,
        &:last-of-type,
        &:not(:first-of-type):not(:last-of-type) {
            border-radius: 0.3125rem;
        }

        .card-header {
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            background-color: #fff;
            border-bottom: 0.0625rem solid transparent;

            h2 {
                margin-bottom: 0;
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                align-items: center;
            }

            i {
                font-style: normal;
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 153.59%;
                color: #828282;
                min-width: 9.6875rem;
            }

            button {
                display: -webkit-flex;
                display: -ms-flex;
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-between;

                span {
                    // font-weight: 500;
                    // font-size: 1.125rem;
                    // line-height: 1.375rem;
                    // color: #557FAF;
                    text-align: left;

                    font-weight: 600;
                    font-size: 1rem;
                    line-height: 150%;
                    color: #4f4f4f;
                }

                img {
                    display: inline-block;
                    margin-left: 0.9375rem;
                    width: 1rem;
                    min-width: 1rem;
                    height: auto;
                    transition: 0.3s;
                }
            }
        }

        .card-body {
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 150%;
            color: #828282;
        }
    }

    .collapse~.card-header {
        background-color: red;
    }

    .collapse {
        &~.card-header {
            background-color: red;

            img {
                transform: rotateX(0deg);
            }
        }

        &.show~.card-header img {
            transform: rotateX(180deg);
        }
    }

    .card-header.show img {
        display: inline-block;
        transform: rotateX(180deg);
    }

    @media (max-width: 767.98px) {
        &>.card {
            box-shadow: 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.1);

            .card-header {
                h2 {
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: 0.8125rem;
                }

                i {
                    font-size: 0.875rem;
                }

                button {
                    padding-left: 0;

                    span {
                        font-size: 1rem;
                        line-height: 1.375rem;
                        text-align: left;
                    }
                }
            }
        }
    }
}

// ==============================================================
// media block
// ==============================================================
.media_wrapp {
    .dubl_line_vertical {
        right: -6.25rem;
        top: 42%;
        transform: rotate(90deg);
    }

    .circle {
        width: 1.375rem;
        left: -3.25rem;
        top: 34%;
    }

    .circle2 {
        width: 1.375rem;
        right: 0.75rem;
        top: 96%;
    }

    .media {
        background: #FFFFFF;
        box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.1);
        border-radius: 0.5rem;
        padding: 1.375rem 1.875rem 1.375rem 1.5rem;
        min-height: 6rem;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        height: 100%;
        transition: all .2s;

        .icon {
            display: block;
            background-image: url('../img/icons/ok-orange.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 3.125rem;
            min-width: 3.125rem;
            height: 3.125rem;
            margin-right: 2.1875rem;
            border-radius: 50%;
            box-sizing: content-box;
            border: 0.0625rem solid #fff;
        }

        p {
            font-weight: 500;
            font-size: 1rem;
            line-height: 150%;
            color: #828282;
            margin: 0;

            b {
                font-weight: 600;
            }
        }

        &:hover {
            transform: translateY(-0.3125rem);
            box-shadow: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.15);
        }
    }

    .col-md-6 {
        margin-bottom: 2.5rem;
    }

    @media (max-width: 767.98px) {
        .media {
            box-shadow: 0 0.1875rem 0.4375rem rgba(0, 0, 0, 0.1);
            border-radius: 0.3125rem;
            padding: 0.9375rem;
            align-items: flex-start;
            min-height: 0;

            p {
                font-size: 0.9375rem;
            }

            .icon {
                width: 1.5625rem;
                min-width: 1.5625rem;
                height: 1.5625rem;
                margin-right: 0.9375rem;
                margin-top: 0.3125rem;
            }
        }

        .col-md-6 {
            margin-bottom: 1.25rem;
        }
    }

    &.media_question {
        .media {
            .icon {
                background-image: url('../img/icons/ok-question.svg');
            }
        }
    }
}

// ==============================================================
// .sec_title.title-left
// ==============================================================
.sec_title.title-left {
    text-align: left;

    img {
        display: block;
    }

    .upper-title {
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 140%;
        color: #5C5B5B;
        margin-bottom: 4.5rem;
        margin-top: 1.1875rem;
    }

    .under-title {
        font-style: normal;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 140%;
        color: #828282;
        margin-bottom: 1.25rem;
        text-transform: uppercase;
    }

    h2 {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 2.375rem;
        line-height: 140%;
        text-transform: uppercase;
    }
}

// ==============================================================
// intlTelInput
// ==============================================================
.intl-tel-input,
.iti {
    position: relative;
    display: block;
}

// ==============================================================
// js-iframe_swiping
// ==============================================================
.js-iframe_swiping.active {
    z-index: 2;

    iframe {
        z-index: -1;
    }
}

// ==============================================================
// 
// ==============================================================
// ==============================================================
// 
// ==============================================================