footer {
    padding: 1rem 0;
    background: #000000;
    @media (min-width: 87.5rem) {
        .container {
            max-width: 79rem;
        }
    }

    nav {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 100%;

        span {
            margin-right: auto;
        }

        a,
        span {
            font-weight: normal;
            font-size: 0.75rem;
            line-height: 170%;
            color: #BDBDBD;
        }

        a {
            margin-left: 1rem;

            &:hover {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}
@media (max-width: 47.9988rem) {
    footer {
        nav {
            flex-direction: column-reverse;
            align-items: center;

            span {
                margin: 0.9375rem 0 0;
            }

            a {
                margin-left: 0;
            }
        }
    }
}
