.navbar {
    background: #58B58B;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.3);
    padding: 0;

    .btn {
        border-radius: 0.1875rem;
        padding: 0.5rem 1.375rem;
        font-size: 0.8125rem;
    }

    .dropdown-toggle {
        &::after {
            display: none;
        }

        img {
            margin-left: 0.3125rem;
            transition: 0.3s;
        }
    }

    a {
        color: #fff;
    }
}

.navbar-collapse {
    padding: 0 1rem;
}

.dropdown-menu {
    box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.15);
    border-radius: 0.3125rem;
    border: none;
    margin-top: 1.5625rem;
    padding: 0.625rem 0;

    &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 3.4375rem;
        width: 0;
        height: 0;
        border-left: 0.625rem solid transparent;
        border-right: 0.625rem solid transparent;
        border-bottom: 0.625rem solid #fff;
    }

    a {
        color: #4f4f4f;
        font-weight: 600;
        font-size: 0.9375rem;
        line-height: 150%;
    }
}

.dropdown-item:focus,
.dropdown-item:hover {
    text-decoration: none;
    background-color: rgb(88, 181, 139);
    color: #fff !important;
}

.dropdown.show .dropdown-toggle img {
    transform: rotateX(180deg);
}

.navbar-toggler-icon {
    display: flex;
    align-items: center;

    img {
        margin-left: auto;
    }
}
@media (min-width: 768px) {
    .navbar-expand-md {
        align-items: initial;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.navbar-brand {
    display: flex;
    align-items: center;
    background: #3A966C;
    padding: 0.25rem 1.125rem 0.25rem 0.625rem;
}

.nav-link {
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 120%;
    padding: 1rem;

    &:focus,
    &:hover {
        background-color: rgba(80, 155, 121, .5);
    }
}
@media (max-width: 767.98px) {
    .navbar-brand {
        padding-top: 0.1875rem;
        padding-bottom: 0.3125rem;
    }

    .navbar .btn {
        margin-right: 0.9375rem;
    }

    .nav-link:focus,
    .nav-link:hover {
        background-color: transparent;
        text-decoration: underline;
    }

    .dropdown-menu {
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }

    .dropdown-item {
        padding: 4px 16px;
    }

    .dropdown-menu::after {
        display: none;
    }
}
