.sec_practics {
    padding: 57px 0 55px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F4F4F4;

    .sec_title h2 {
        margin-bottom: 63px;
    }
}

.media_wrapp {
    .dubl_line_vertical{
      right: -100px;
      top: 42%;
      transform: rotate(90deg);
    }
    .circle{
      left: -70px;
      top: 34%;
    }
    .circle2{
      right: 10px;
      top: 95%;
    }
    .media {
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 22px 30px 22px 24px;
        min-height: 96px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        height: 100%;
        transition: all .2s;

        .icon {
            display: block;
            background-image: url('../img/icons/ok-orange.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50px;
            min-width: 50px;
            height: 50px;
            margin-right: 35px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #828282;
            margin: 0;

            b {
                font-weight: 600;
            }
        }

        &:hover {
            transform: scale(1.02) translateY(-2px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        }
    }

    .col-md-6 {
        margin-bottom: 40px;
    }
}
