.sec_you_can {
    padding: 105px 0 76px;
    .dubl_line_vertical{
      right: -90px;
      top: 42%;
      transform: rotate(-90deg);
    }
    .circle{
      width: 50px;
      left: -70px;
      top: 56%;
    }
    .sec_title h2 {
        margin-bottom: 58px;
    }

    .text-orange {
        margin: 0;
        margin-bottom: 25px;
        font-style: normal;
        font-weight: 600;
        font-size: 26px;
        line-height: 150%;
        color: #F0A744;
    }
}
