.sec_fear {
    position: relative;
    padding: 4.75rem 0 7.875rem;

    .circle {
        width: 3.125rem;
        top: 78%;
        right: 32.5rem;
    }

    .img_wrapp {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            right: -1.875rem;
            bottom: 0rem;
        }
    }

    .sec_title.title-left {
        .upper-title {
            margin-bottom: 4.875rem;
            margin-top: 0;
        }

        h2 {
            margin-bottom: 3.4375rem;
        }

        .under-title {
            color: #5C5B5B;
            font-style: normal;
            font-weight: bold;
            font-size: 1.25rem;
            line-height: 140%;
            margin-bottom: 3.1875rem;
        }
    }

    .btn {
        max-width: 21.875rem;
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title.title-left {
            .upper-title {
                font-size: 1.1875rem;
                margin-bottom: 1.875rem;
            }

            h2 {
                font-size: 1.375rem;
                margin-bottom: 1.875rem;
            }

            .under-title {
                font-size: 1rem;
                margin-bottom: 1.875rem;
            }
        }

        .btn {
            padding: 0.9375rem;
        }

        .img_wrapp {
            height: 13.75rem;
            text-align: center;
            margin-bottom: 1.875rem; 

            img {
                position: initial;
                max-width: 12.5rem;
            }
        }
    }
}