.sec_guarantee {
    position: relative;
    padding: 0 0 187px;
    background-color: #FBFBFB;

    .img_wrapp {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            right: 0px;
            top: -60px;
            width: 370px;
        }
    }

    .sec_title.title-left {
        .upper-title {
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 140%;
            margin: 0;
            margin-bottom: 37px;
        }

        .under-title {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 140%;
            color: #5C5B5B;
            margin-bottom: 31px;
            text-transform: initial;
        }

        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 140%;
            margin: 0;
            color: #5C5B5B;
        }
    }

    .bg-gradient {
        position: relative;
        z-index: 1;
        padding-top: 135px;
        padding-bottom: 49px;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(180deg, #FBFBFB 54.13%, rgba(255, 255, 255, 0) 100%), #D0D1D1;
            opacity: 0.3;
            z-index: -1;
        }
    }

    @media (max-width: 767.98px) {
        .bg-gradient {

        }

        .sec_title.title-left .upper-title {
            
        }
    }
}