.sec_what_results {
    padding: 4.625rem 0 4.1875rem;

    .sec_title h2 {
        margin-bottom: 4.125rem;
    }

    // abs_pic

    .dubl_line_vertical {
        left: -5.625rem;
        top: 68%;
        transform: rotate(90deg);
    }

    .circle {
        width: 3.125rem;
        right: -5.625rem;
        top: 36%;
        left: initial;
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title h2 {
            margin-bottom: 2.5rem;
        }
    }
}

.sec_what_results_1 {
    .dubl_line_vertical2 {
        left: -5.1875rem;
        top: 23.125rem;
        transform: rotate(-90deg);
    }

    .circle {
        width: 3.125rem;
        right: 0rem;
        top: 0rem;
    }

    .dubl_line {
        right: 5.625rem;
        top: 98%;
        transform: rotate(180deg);
    }

    @media (max-width: 767.98px) {
        .circle {
            display: none; 
        }
    }
}