.sec_get-out-pit {
    position: relative;
    padding: 5.375rem 0 4.4375rem;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 7.375rem;
        display: block;
        background: linear-gradient(180deg, #FBFBFB 0%, rgba(255, 255, 255, 0) 100%), #EFEFEF;
        z-index: -1;
    }

    .img_wrapp {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            right: -1.875rem;
            top: -3.125rem;
        }
    }

    @media (max-width: 767.98px) {
        padding: 2.5rem 0;

        .sec_title.title-left {
            .upper-title {
                font-size: 1rem;
                margin-bottom: 1.875rem;
            }

            .under-title {
                font-size: 0.9375rem;
            }

            h2 {
                font-size: 1.375rem;
            }
        }

        .img_wrapp {
            height: 14.375rem;
            text-align: center;
            margin-top: 1.25rem; 

            img {
                position: initial;
                max-width: 18.75rem;
            }
        }
    }
}