.sec_programm {
    padding: 7.375rem 0 8.1875rem;
    background-color: #fbf3e9;

    .circle {
        width: 3.125rem;
        right: -3.75rem;
        top: 86%;
    }

    .dubl_line_vertical {
        left: -6.625rem;
        top: 67%;
        transform: rotate(-90deg);

    }

    .dubl_line_vertical2 {
        right: -6.625rem;
        top: 52%;
        transform: rotate(-90deg);
    }

    .sec_title {
        margin-bottom: 3.75rem;
    }

    b {
        font-weight: 600;
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title {
            margin-bottom: 2.5rem;
        }

        .btn-success.btn-lg {
            font-size: 1.0625rem;
            padding: 0.9375rem;
        }
    }
}