.sec_practics {
    padding: 57px 0 55px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F4F4F4;

    .sec_title h2 {
        margin-bottom: 63px;
    }

        .circle{
      width: 50px;
      right: -51px;
      top: 148px;
    }
    .dubl_line_vertical{
      right: 15px;
      top: 1106px;
      transform: rotate(-90deg);
    }
    .dubl_line_vertical2{
      left: -100px;
      top: 476px;
      transform: rotate(-90deg);
    }
}