.sec_faq {
    padding: 84px 0 140px;

    .sec_title h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 140%;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 72px;
    }
} 