.sec_author_history {
    padding: 5.3125rem 0 7rem;

    .circle {
        width: 3.125rem;
        left: -3.75rem;
        top: 7%;
    }

    .dubl_line {
        left: 12.5rem;
        top: 92%;
    }

    .sec_title h2 {
        margin-bottom: 4.6875rem;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 150%;
        color: #4f4f4f;
        margin-bottom: 1.25rem;
    }

    .btn {
        margin-top: 1.875rem;
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title h2 {
            margin-bottom: 1.875rem;
        }

        .embed-responsive {
            margin-bottom: 1.875rem;
        }
    }
}