.sec_programm {
    padding: 118px 0 131px;
    background-color: #fbf3e9;

    .circle {
        width: 50px;
        right: -60px;
        top: 86%;
    }

    .dubl_line_vertical {
        left: -106px;
        top: 67%;
        transform: rotate(-90deg);

    }

    .dubl_line_vertical2 {
        right: -106px;
        top: 52%;
        transform: rotate(-90deg);
    }

    .sec_title {
        margin-bottom: 60px;
    }

    b {
        font-weight: 600;
    }

    @media (max-width: 767.98px) {
        padding: 30px 0;

        .sec_title {
            margin-bottom: 40px;
        }

        .btn-success.btn-lg {
            font-size: 17px;
            padding: 15px;
        }
    }
}