.sec_change_life {
    padding: 74px 0 87px;

    .sec_title {
        h2 {
            margin: 33px 0 31px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 32px;
            line-height: 140%;
        }

        p {
            margin-bottom: 58px;
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
        }
    }
}