.sec_prizes {
    padding: 5.8125rem 0 7rem;

    .circle {
        width: 3.125rem;
        left: 59.375rem;
        top: 71%;
    }

    .dubl_line {
        right: -3.125rem;
        top: 17%;
    }

    .dubl_line_vertical {
        left: 6.25rem;
        top: 78%;
        transform: rotate(-90deg);
    }

    .sec_title {
        h2 {
            margin-bottom: 2.5rem;
        }

        p {
            margin-bottom: 2.5rem;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 140%;
        }
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title p {
            font-size: 1rem;
        }

        .btn-success.btn-lg {
            padding: 0.9375rem;
            margin-top: 1.25rem;
        }
    }
}