.sec_prizes {
    padding: 93px 0 112px;

    .sec_title {
        h2 {
            margin: 33px 0 40px;
        }

        p {
            margin-bottom: 40px;
            font-weight: 600;
            font-size: 20px;
            line-height: 140%;
        }
    }
}