.sec_faq {
    padding: 5.25rem 0 8.75rem;

    .circle {
        width: 3.125rem;
        right: -1.875rem;
        top: 56%;
    }

    .dubl_line_vertical {
        left: -3.125rem;
        top: 75%;
        transform: rotate(-90deg);
    }

    .sec_title h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 2.125rem;
        line-height: 140%;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 4.5rem;
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title h2 {
            font-size: 1.3125rem;
            margin-bottom: 1.875rem;
        }
    }
}