.sec_best_students {
    position: relative;
    padding: 0 0 16.125rem;
    background-color: #FBFBFB;

    .img_wrapp {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            position: absolute;
            right: 0rem;
            top: 3.75rem;
        }
    }

    .sec_title.title-left {
        .upper-title {
            font-style: normal;
            font-weight: 600;
            font-size: 2rem;
            line-height: 140%;
            margin: 0;
            margin-bottom: 2.3125rem;
            text-transform: uppercase;
        }

        .under-title {
            font-style: normal;
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 140%;
            color: #5C5B5B;
            margin-bottom: 3.125rem;
            text-transform: uppercase;
        }

        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 3.125rem;
            line-height: 140%;
            margin: 0;
            color: #5C5B5B;
            text-transform: uppercase;
        }
    }

    .bg-gradient {
        position: relative;
        z-index: 1;
        padding-top: 4.1875rem;
        padding-bottom: 3.75rem;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: linear-gradient(180deg, #FBFBFB 54.13%, rgba(255, 255, 255, 0) 100%), #D0D1D1;
            opacity: 0.3;
            z-index: -1;
        }
    }

    @media (max-width: 767.98px) {
        padding-bottom: 0;

        .bg-gradient {
            padding: 1.875rem 0;
        }

        .img_wrapp {
            margin-bottom: 1.875rem;
            text-align: center;

            img {
                position: initial;
                max-width: 15.625rem;
            }
        }

        .sec_title.title-left {
            .upper-title {
                font-size: 1.1875rem;
                margin-bottom: 0.9375rem;
            }

            .under-title {
                font-size: 0.9375rem;
                margin-bottom: 1.5625rem;
            }

            h2 {
                font-size: 1.3125rem;
            }
        }
    }
}