.sec_you_will_get {
    padding: 3.375rem 0 3.875rem;

    .sec_title h2 {
        margin-bottom: 3.0625rem;
    }

    // abs_pic

    .dubl_line_vertical {
        left: -6.25rem;
        top: 76%;
        transform: rotate(-90deg);

    }

    .dubl_line_vertical2 {
        right: -6.25rem;
        top: 42%;
        transform: rotate(-90deg);
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;
    }
}