.sec_change_life {
    padding: 4.625rem 0 5.4375rem;

    .circle {
        width: 3.125rem;
        left: auto;
        right: -2.5rem;
        top: 85%;
    }

    .dubl_line_vertical {
        left: 3.125rem;
        top: 88%;
    }

    .sec_title {
        h2 {
            margin-bottom: 1.9375rem;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2rem;
            line-height: 140%;
        }

        p {
            margin-bottom: 3.625rem;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 140%;
        }
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title {
            h2 {
                font-size: 1.1875rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 1.875rem;
            }
        }
    }
}