.sec_about_author {
    padding-top: 4rem;

    .sec_title p {
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 140%;
        color: #4f4f4f;
        padding-top: 1.4375rem;
        padding-bottom: 4.4375rem;
    }

    .custom-list {
        max-width: 38.75rem;

        li {
            font-size: 1.125rem;

            &:not(:last-of-type) {
                margin-bottom: 1.0625rem;
            }
        }
    }

    .btn {
        max-width: 26.5625rem;
        width: 100%;
        margin-top: 1.125rem;
        margin-bottom: 2.375rem;
    }

    .text-orange {
        font-style: normal;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 130%;
        margin-bottom: 5.0625rem;
    }

    .img_wrapp {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            right: 1.25rem;
            bottom: 0;
            max-width: 23.125rem;
        }
    }

    // abc_pic

    .circle {
        width: 3.125rem;
        left: 34.5rem;
        top: 77%;
    }

    .dubl_line {
        right: -0.3125rem;
        top: 31%;
    }

    @media (max-width: 767.98px) {
        padding-top: 1.875rem;

        .sec_title p {
            font-size: 1rem;
            padding-top: 0.9375rem;
            padding-bottom: 2.5rem;
        }

        .custom-list li {
            font-size: 0.9375rem;
            margin-bottom: 0.9375rem;
        }

        .img_wrapp {
            display: none;
        }

        .text-orange {
            font-size: 1rem;
            margin: 0 0 1.875rem;
            text-align: center;
        }

        .dubl_line {
            display: none;
        }
    }
}