.sec_you_can {
    padding: 6.5625rem 0 4.75rem;

    .dubl_line_vertical {
        right: -5.625rem;
        top: 42%;
        transform: rotate(-90deg);
    }

    .circle {
        width: 3.125rem;
        left: -4.375rem;
        top: 56%;
    }

    .sec_title h2 {
        margin-bottom: 3.625rem;
    }

    .text-orange {
        margin: 0;
        margin-bottom: 1.5625rem;
        font-style: normal;
        font-weight: 600;
        font-size: 1.625rem;
        line-height: 150%;
        color: #F0A744;
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title h2 {
            margin-bottom: 1.875rem;
        }

        .text-orange {
          font-size: 1rem;  
          text-align: center;
        }
    }
}