.sec_start_your_way {
    padding: 5.125rem 0 7.5rem;

    .sec_title {
        h2 {
            margin-bottom: 4rem;
        }
    }

    .card {
        padding: 1.75rem 2.375rem 3.5rem;
        background: #FFFFFF;
        box-shadow: 0rem 0rem 1.5625rem rgba(0, 0, 0, 0.15);
        border-radius: 0.9375rem;

        .card-title {
            font-style: normal;
            font-weight: 600;
            font-size: 1.5625rem;
            line-height: 140%;
            color: #5C5B5B;
            margin-bottom: 2.25rem;
        }
    }

    .text-block {
        img {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 2.75rem;
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 1.125rem;
            line-height: 140%;
            margin: 0;
            margin-bottom: 2.375rem;
            color: #828282;
        }

        h3 {
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 140%;
            text-transform: uppercase;
            color: #5C5B5B;
        }
    }

    // abs_pic

    .circle {
        width: 3.125rem;
        right: -6.25rem;
        top: -3%;
    }

    .dubl_line {
        right: 10rem;
        top: 103%;
        transform: rotate(180deg);
    }

    .dubl_line_vertical {
        left: -0.625rem;
        top: 40%;
        transform: rotate(90deg);
    }

    @media (max-width: 767.98px) {
        padding: 1.875rem 0;

        .sec_title h2 {
            margin-bottom: 2.5rem;
        }

        .text-block {
            img {
                max-width: 10.625rem;
            }

            p {
                font-size: 1rem;
                margin-bottom: 1.25rem;
            }

            h3 {
                margin-bottom: 1.875rem;
                font-size: 1.125rem;
            }
        }

        .card {
            padding: 1.25rem 0.9375rem;
            margin-bottom: 1.25rem;
            box-shadow: none;
            border: 0.0625rem solid #d6d6d6;
            border-radius: 0.5rem;

            .card-title {
                font-size: 1.1875rem;
                margin-bottom: 1.25rem;
            }
        }

        .dubl_line_vertical {
            display: none;
        }
    }
}