.sec_product {
    background-color: #daede5;
    background-image: url('../img/lms_booster/sec_product_bg.svg');
    background-position: center 103%;
    background-repeat: no-repeat;
    padding: 6.3125rem 0 0;
    overflow: hidden;

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 2.125rem;
        line-height: 140%;
        text-transform: uppercase;
        margin-bottom: 4.9375rem;

        b {
            font-weight: bold;
        }
    }

    @media (min-width: 1200px) {
        .container {
            max-width: 70rem;
        }
    }

    .undertitle_wrapp {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        margin-bottom: 3.25rem;

        .date_wrap {
            margin-right: 2.5rem;
        }
    }

    .undertitle {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 150%;
        text-transform: uppercase;
        color: #828282;
        margin-bottom: 0;
    }

    .img_wrapp {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 28.625rem;
            // filter: drop-shadow(1.25rem 1.25rem 1.5625rem rgba(0, 0, 0, 0.3));
        }
    }

    .card {
        padding: 1.125rem 1.375rem 1.9375rem 1.4375rem;
        max-width: 34.6875rem;
        margin-bottom: 0;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            font-weight: 500;
            font-size: 1rem;
            line-height: 130%;
            display: flex;
            align-items: flex-start;
            color: #828282;

            &:not(:last-of-type) {
                margin-bottom: 0.6875rem;
            }

            img {
                width: 1.125rem;
                height: auto;
                display: inline-block;
                margin-top: 0.1875rem;
                margin-right: 1.0625rem;
            }

            b {
                font-size: 1.25rem;
            }
        }

        p {
            font-style: normal;
            font-weight: 500;
            font-size: 0.8125rem;
            line-height: 153.59%;
            color: #828282;
            padding: 0;
            margin: 0;

            &.title {
                font-weight: 600;
                font-size: 1rem;
                line-height: 130%;
                margin-bottom: 1.5625rem;

                b {
                    font-size: 1.1875rem;
                    font-weight: 600;
                }
            }
        }

        &__footer {
            margin-top: 1.9375rem;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .price {
                font-weight: 500;
                font-size: 2.0625rem;
                line-height: 153.59%;
                color: #58B58B;
            }

            .btn-success {
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 130%;
                padding: 0.7813rem 1.75rem;
                width: 15.3125rem;
                border-radius: 0.3125rem;
                box-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.07);
            }
        }
    }

    // abs pic
    .circle {
        top: 34%;
        left: 56%;
        opacity: 0.4;
    }

    .circle_orange {
        top: 67%;
        left: 106%;
    }

    .dubl_line_vertical {
        right: -8%;
        top: 6%;
    }

    .btn-video-modal {
        margin-top: 1.5625rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 767.98px) {
    .sec_product {
        overflow: hidden;
        padding-top: 2.5rem;

        h1 {
            font-size: 1.1875rem;
            margin: 0.9375rem 0;
            text-align: center;
            margin-bottom: 2.5rem;
        }

        .undertitle_wrapp {
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 2.1875rem;

            .date_wrap {
                margin-top: 1.25rem;
            }
        }

        .undertitle {
            font-size: 1rem;

            i {
                margin-top: 0.625rem;
            }
        }

        .card {
            padding: 1.25rem 0.9375rem;
            margin-bottom: 1.25rem;
            box-shadow: none;
            border: 0.0625rem solid #d6d6d6;

            p {
                font-size: 0.875rem;
            }
        }

        .img_wrapp {
            margin: 0;
            height: 25rem;

            img {
                width: 100%;
                right: initial;
                left: 50%;
                transform: translateX(-50%);
                max-width: 18.125rem;
                filter: none;
            }
        }

        .card__footer {
            flex-wrap: wrap;

            .btn-success {
                padding: 0.9375rem;
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: 0.625rem;
                }
            }

            .price {
                font-size: 1.5rem;
            }
        }

        .btn-video-modal {
            margin: 0;
            margin-bottom: 0.9375rem;
        }

        // abs icons
        .dubl_line_vertical {
            right: 5%;
            top: 56%;
        }
    }
}