.sec_tabs {
    padding: 77px 0 132px;

    .sec_title {
        margin-bottom: 96px;
    }

    .media {
        background: #FFFFFF;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 16px 28px;
        min-height: 96px;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        transition: all 0.2s;

        .icon {
            display: block;
            background-image: url("../img/sec_your_result/ok.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 50px;
            min-width: 50px;
            height: 50px;
            margin-right: 23px;
        }

        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;
            color: #4F4F4F;
            margin: 0;
        }

        &:hover {
            transform: scale(1.02) translateY(-2px);
            box-shadow: 0 5px 15px rgba(0,0,0,0.15);
        }
    }

    .for_managers .media .icon {
        background-image: url("../img/sec_tabs/for_managers.svg");
    }

    .for_top_managers .media .icon {
        background-image: url("../img/sec_tabs/for_top_managers.svg");
    }

    .for_business_owners .media .icon {
        background-image: url("../img/sec_tabs/for_business_owners.svg");
    }
    // abs_pic
    .circle {
        top: 30%;
        left: 90%;
        width: 30px;
    }

    .dubl_line {
        top: 13%;
        left: 7%;
    }
}

.nav-pills {
    margin-bottom: 40px;

    .nav-link {
        padding-left: 0;
        padding-right: 0;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        padding-bottom: 5px;
        border-bottom: solid 3px transparent;
        border-radius: 0;
        margin-right: 72px;
        color: #828282;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: #4f4f4f;
            border-color: rgba(240, 167, 68, 0.2);
            text-decoration: none;
        }
    }

    .nav-link.active,
    .show > .nav-link {
        background-color: transparent;
        color: #4f4f4f;
        border-color: #F0A744;
    }
    @media (max-width: 767.98px) {
        display: flex;
        flex-direction: column;

        .nav-link {
            margin-right: 0;
        }
    }
}
@media (max-width: 767.98px) {
    .sec_tabs {
        overflow: hidden;
        padding: 40px 0 20px;

        .sec_title {
            margin-bottom: 30px;
        }

        .media {
            padding: 10px 15px;
            min-height: 80px;
            margin-bottom: 15px;

            .icon {
                margin-right: 15px;
            }
        }

        .abs_pic {
            display: none;
        }
    }
}
