.sec_goal {
    padding: 94px 0 116px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
    background: #FFFFFF;

    .sec_title {
        h2 {
            margin: 23px 0 47px;
        }
    }

    .img_wrapp {
        position: relative;
        width: 100%;
        height: 120%;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .card {
        padding: 29px 15px 35px 33px;
        position: relative;
        max-width: 723px;
    }

    h4 {
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 19px;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 153.59%;
        color: #828282;
        margin: 0;

        &:not(:last-of-type) {
            margin-bottom: 19px;
        }
    }
    // abs pic
    .circle {
        left: -10%;
        top: 11%;
    }

    .stone {
        left: 89%;
        top: -11%;
    }

    .circle_orange {
        right: -7%;
        top: 60%;
    }
}
@media (max-width: 767.98px) {
    .sec_goal {
        padding: 30px 0;

        .card {
            padding: 15px;
        }

        .img_wrapp {
            height: 0;
            margin-top: 130px;
        }

        p {
            font-size: 14px;
        }
    }
}
