.sec_offer {
	background: #badfcf;
	padding: 60px 0 70px;

	.main-txt {
		font-weight: 500;
		font-size: 29px;
		line-height: 130%;
		color: #4F4F4F;
		margin-bottom: 20px;
	}

	.btn-orange {
		color: #fff;
		text-transform: uppercase;
		width: 280px;
		text-align: center;
		padding: 13px;
		font-size: 20px;
	}
}
@media (min-width: 1200px) {
	.sec_offer {
		.container {
			max-width: 1120px;
		}

		.left-col {
			max-width: 533px;
		}

		.right-col {
			max-width: 560px;
		}
	}
}
@media (max-width: 1200px) {
	.sec_offer {
		.main-txt {
			font-size: 26px;
		}
	}
}
@media (max-width: 991.98px) {
	.sec_offer {
		.main-txt {
			font-size: 23px;
		}
	}
}
@media (max-width: 767.98px) {
	.sec_offer {
		padding: 30px 0;
		.main-txt {
			font-size: 17px;
			margin-top: 30px;
		}

		.btn-orange {
			width: 100%;
			font-size: 18px;
		}
	}
}
