.sec_1 {
    background-color: #daede5;
    padding: 52px 0 41px;

    h1 {
        margin-bottom: 19px;
    }

    .undertitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 150%;
        color: #828282;
        max-width: 524px;
        margin-bottom: 34px;
    }

    .btn {
        padding: 14px 34px;
        font-size: 20px;
        display: inline-block;
        margin-bottom: 77px;
    }

    .label {
        font-weight: 600;
        font-size: 16px;
        line-height: 130%;
        color: #4F4F4F;
        padding: 7px 16px 7px 9px;
        max-width: 390px;
        background-color: #d1ddd8;
        border-radius: 10px;
        display: flex;
        align-items: center;

        img {
            display: inline-block;
            margin-right: 15px;
            vertical-align: middle;
        }
    }

    .img_wrapp {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            left: -68%;
            top: 16%;
        }
    }
    // abs pic
    .circle {
        top: 47%;
        left: 44%;
    }

    .line {
        right: 7%;
        top: 6%;
    }

    .line-light {
        right: 4.7%;
        top: 12.5%;
    }
}
@media (max-width: 767.98px) {
    .sec_1 {
        overflow: hidden;
        padding: 30px 0;

        .undertitle {
            font-size: 17px;
            margin-bottom: 30px;
        }

        .btn {
            margin-bottom: 80px;
            padding: 12px 25px;
            font-size: 16px;
        }

        .label {
            font-size: 11px;
            max-width: 300px;
        }

        .col-md-4 {
            position: initial;
        }

        .col-md-8 {
            z-index: 1;
        }

        .img_wrapp {
            position: absolute;
            top: 46%;
            left: 103%;

            img {
                width: 100%;
            }
        }

        .circle {
            top: 72%;
            left: 16%;
            width: 38px;
        }

        .line,
        .line-light {
            display: none;
        }
    }
}
