.sec_about_course {
    padding: 75px 0 141px;
    background-color: #fbf3e9;

    .sec_title {
        margin-bottom: 87px;
    }

    .media_wrapp {
        height: 100%;
        padding: 62px 64px 62px 50px;
    }

    .media {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        align-items: center;

        &:not(:last-of-type) {
            margin-bottom: 55px;
        }

        .text {
            margin-left: 30px;
        }

        span {
            font-weight: 500;
            font-size: 18px;
            line-height: 153.59%;
            color: #828282;
        }

        p {
            margin: 0;
            padding: 0;
            margin-top: 4px;
            font-weight: 500;
            font-size: 24px;
            line-height: 153.59%;
            color: #557FAF;
        }
    }

    .card_txt {
        max-width: 693px;
        padding: 34px 37px 40px 39px;

        h4 {
            font-weight: 500;
            font-size: 19px;
            line-height: 130%;
            margin-bottom: 20px;
        }

        p {
            font-weight: 500;
            font-size: 14px;
            line-height: 160%;
            color: #828282;
            margin: 0;

            &:not(:last-of-type) {
                margin-bottom: 30px;
            }
        }
    }
    // abs_pic
    .circle {
        top: 50%;
        left: 96%;
        width: 60px;
    }

    .circle_orange {
        left: -10%;
        top: 70%;
    }

    .dubl_line {
        top: 8%;
        left: 75%;
    }
}
