.sec_lesson_steps {
    padding: 76px 0 84px;
    background: #fbf3e9;
    overflow: hidden;

    .sec_title {
        margin-bottom: 49px;
    }

    .card_profile {
        padding: 66px 46px 61px 53px;
        display: flex;
        flex-direction: row;

        .icon {
            height: 294px;
            min-width: 377px;
            background: none;
            border: none;
            border-radius: 0;
            position: relative;
            margin: 0;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: inline-block;
            }
        }

        .text {
            margin-left: 25px;
            text-align: left;
        }

        h3 {
            font-weight: 500;
            font-size: 23px;
            line-height: 153.59%;
            margin-bottom: 26px;
            max-width: 485px;
        }

        p {
            font-weight: 500;
            font-size: 13px;
            line-height: 170%;
            color: #828282;
            max-width: 482px;
        }
    }

    .abs_pic {
        left: 50%;
        top: 105%;
        transform: translate(-50%, -50%);
        width: 123%;
    }
}

.lSSlideOuter {
    display: flex;
    flex-direction: column-reverse;

    .lSPager.lSpg > li a {
        background: #FFFFFF;
        border: 2px solid #A2A2A2;
        width: 20px;
        height: 20px;
        box-sizing: content-box;
        position: relative;
    }

    .lSPager.lSpg > li.active a,
    .lSPager.lSpg > li:hover a {
        background-color: #FFFFFF;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: inline-block;
            width: 14px;
            height: 14px;
            background: #099E18;
            border: 1px solid #828282;
            box-sizing: border-box;
            border-radius: 50%;
        }
    }

    .lSPager.lSpg > li:hover a {
        &::after {
            opacity: 0.3;
        }
    }
}

.sleder_wrapp {
    position: relative;
}

.arrow-next,
.arrow-prev {
    position: absolute;
    top: 50%;
    display: block;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }

    svg {
        width: 25px;
        height: 47px;
    }
}

.arrow-prev {
    left: -40px;
    transform: translateY(-50%);
    display: block;
}

.arrow-next {
    right: -40px;
    transform: translateY(-50%) rotateY(180deg);
}
@media (max-width: 767.98px) {
    .sec_lesson_steps {
        padding: 30px 0;
        overflow: hidden;

        .card_profile {
            padding: 15px;
            flex-direction: column;

            .icon {
                position: initial;
                margin: 0 auto;
                width: 100%;
                height: auto;
                min-width: 0;

                img {
                    position: initial;
                    transform: none;
                    display: inline-block;
                    width: 100%;
                    height: auto;
                }
            }

            h3 {
                margin: 20px auto 10px;
                text-align: center;
                max-width: 300px;
                height: auto;
            }

            p {
                text-align: center;
                margin: 0 auto;
            }

            i {
                font-size: 14px;
                margin-top: 20px;
                min-height: 230px;
            }

            .text {
                margin-left: 0;
                text-align: left;
            }
        }

        .sec_title {
            margin-bottom: 25px;
        }

        .abs_pic {
            left: -225%;
            top: 144%;
            width: 765%;
        }
    }
}
