.sec_9 {
    padding: 76px 0 132px;
    background: #fbf3e9;

    .sec_title {
        margin-bottom: 74px;
    }

    .card_profile {
        padding: 50px 0 48px;

        i {
            max-width: 285px;
            min-height: 250px;
        }

        p {
            min-height: 42px;
            font-weight: 600;
            max-width: 250px; 
        }
    }
}
