.sec_methods {
  .container {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 3rem;
    text-align: center;
    text-transform: uppercase;
    color: #4F4F4F;
  }

  .slider-box {
    .adaptive-slider {
      .custom-slide {
        height: 300px;
        width: 30vw;
        background-color: white;

      }

    }
  }
}

@media screen and (max-width: 767px) {
  .sec_methods {
    .container {
      padding: 0;
    }

    h2 {
      font-size: 20px;
      line-height: 25px;
      padding-bottom: 10px;
    }
  }
}