.sec_methods {
  h2 {
    color: #4F4F4F;
  }

  .slider-box {
    .adaptive-slider {
      .custom-slide {
        height: 300px;
        width: 30vw;
        background-color: white;

      }

    }
  }
}
