.sec_form {
  background-color: #242323;

  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    /* or 45px */
    color: #FCFCFC;
    text-transform: uppercase;
  }

  .img-box {
    position: relative;
    z-index: 0;

    img {
      position: absolute;
    }
  }

  .form-group {
    margin-top: 30px;

    label {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 120%;
      color: #E5C17C;
    }

    .form-control {
      padding: 27px 13px;
      border-radius: 0;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 153.59%;
      color: #BDBDBD;
    }
  }

  .btn-send-form {
    width: 100%;
    font-size: 17px;
    border-radius: 0;
    padding: 20px 0;
    color: #ffffff;
    margin-top: 30px;
  }
}

@media (max-width: 776px) {
  .sec_form {
    .img-box {
      display: none;
    }

    h2 {
      font-size: 23px;
    }
  }
}
