.sec_methods {
  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 45px;

    text-align: center;
    text-transform: uppercase;
    color: #4F4F4F;
  }

  .slider-box {
    .adaptive-slider {
      .custom-slide {
        height: 300px;
        width: 30vw;
        background-color: white;

      }

    }
  }
}
