
.sec_bonus {
  background-color: #242323;

  h2 {
    color: #FCFCFC;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
  }

  h3 {
    color: #E5C17C;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }

  .btn-success-2 {
    border-radius: 0;
    color: white;
    padding: 13.5px 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
  }

  .row {
    padding: 50px 0;
  }
}

@media screen and (max-width: 767px) {
  .sec_bonus {
    background-color: #242323;

    .row {
      padding-bottom: 0;
      flex-direction: column-reverse !important;
      h2 {
        font-size: 20px;
        line-height: 25px;
        margin: 20px 0;
      }

      h3 {
        font-size: 19px;
        line-height: 23px;
      }

      .btn-success-2 {
        font-size: 17px;
        padding: 10.5px 25px;
      }


    }
  }
}

