
.sec_bonus {
  background-color: #242323;

  h2 {
    color: #FCFCFC;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 140%;
    text-transform: uppercase;
  }

  h3 {
    color: #E5C17C;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
  }

  .btn-success-2 {
    border-radius: 0;
    color: white;
    padding: 13.5px 30px;
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
  }

  .row {
    padding: 50px 0;
  }
}

