.sec_duplicated {
  background-image: url("../img/sec_1/bg/bg2.png"), url("../img/sec_1/bg/bg1.png");
  background-color: #FBFBFB;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -55%;
  padding: 60px 0 100px 0;

  .container {
    max-width: 1300px;
  }

  .block-grid {
    .block-grid_item {
      display: flex;
      align-items: center;
      height: 150px;
      position: relative;
      -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
      padding: 20px 50px;

      img {
        position: absolute;
      }

      p {
        padding-left: 100px;
        display: inline-block;
        margin: 0;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        color: #828282;
      }

      &:nth-child(odd) {
        margin-right: 50px;
      }

      &:nth-child(even) {
        margin-left: 50px;
      }
    }
  }

  h2 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    /* or 45px */
    text-align: center;
    text-transform: uppercase;
    color: #4F4F4F;
  }

  h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 140%;
    color: #828282;
  }

}

@media screen and (max-width: 767px) {
  .sec_duplicated {
    .block-grid {
      .block-grid_item {
        height: 240px;
        padding: 20px 15px 35px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          position: unset;
        }

        p {
          text-align: center;
          margin-top: 30px;
          padding-left: 0;

        }

        &:nth-child(odd) {
          margin: 0 30px;
        }

        &:nth-child(even) {
          margin: 0 30px;
        }

      }
    }

    h2 {
      font-size: 21px;
    }
  }
}
